{% extends "index.html" %}
{% load static %}

{% block title %}Goodfood - Блог{% endblock title %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shop:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">блог</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-lg-9">
                        <article class="entry single">
                            <div class="entry-media">
                                <div class="entry-slider owl-carousel owl-theme">

                                    <img src="{{ blog.image.url }}" alt="Post">

                                </div><!-- End .entry-slider -->
                            </div><!-- End .entry-media -->

                            <div class="entry-body">

                                <h2 class="entry-title">
                                    {{ blog.header }}
                                </h2>

                                <div class="entry-meta">
                                    <span><i class="icon-calendar"></i>{{ blog.published }}</span>
                                    <span><i class="icon-user"></i>By <a href="#">{{ blog.author }}</a></span>
                                    <span><i class="icon-folder-open"></i>
                                        {{ blog.category }}
                                    </span>
                                </div><!-- End .entry-meta -->

                                <div class="entry-content">
                                     {{ blog.text }}
                                </div><!-- End .entry-content -->

                                <div class="entry-share">
                                    <h3>
                                        <i class="icon-forward"></i>
                                        Поделиться
                                    </h3>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon social-facebook" target="_blank" title="Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#" class="social-icon social-twitter" target="_blank" title="Twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon social-linkedin" target="_blank" title="Linkedin">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        <a href="#" class="social-icon social-gplus" target="_blank" title="Google +">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                        <a href="#" class="social-icon social-mail" target="_blank" title="Email">
                                            <i class="icon-mail-alt"></i>
                                        </a>
                                    </div><!-- End .social-icons -->
                                </div><!-- End .entry-share -->

                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->

                    </div><!-- End .col-lg-9 -->
                    {% endfor %}
                    <aside class="sidebar col-lg-3">
                        <div class="sidebar-wrapper">
                            <div class="widget widget-search">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="search" class="form-control" placeholder="Search posts here..." name="s" required>
                                    <button type="submit" class="search-submit" title="Search">
                                        <i class="icon-search"></i>
                                        <span class="sr-only">Поиск</span>
                                    </button>
                                </form>
                            </div><!-- End .widget -->

                            <div class="widget widget-categories">
                                <h4 class="widget-title">Категории пкбликаций</h4>

                                <ul class="list">
                                    <li><a href="#">Еда</a></li>
                                    <li><a href="#">Напитки</a></li>
                                    <li><a href="#">Сладкое</a></li>
                                </ul>
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h4 class="widget-title">Недавние публикации</h4>

                                <ul class="simple-entry-list">
                                    <li>
                                        <div class="entry-media">
                                            <a href="{% url 'shop:blog' %}">
                                                <img src="{% static 'images/products/морковка.jpg' %}" alt="Post">
                                            </a>
                                        </div><!-- End .entry-media -->
                                        <div class="entry-info">
                                            <a href="{% url 'shop:blog' %}">Сосискм</a>
                                            <div class="entry-meta">
                                                08 апреля 2018 г.
                                            </div><!-- End .entry-meta -->
                                        </div><!-- End .entry-info -->
                                    </li>

                                    <li>
                                        <div class="entry-media">
                                            <a href="{% url 'shop:blog' %}">
                                                <img src="{% static 'images/products/морковка.jpg' %}" alt="Post">
                                            </a>
                                        </div><!-- End .entry-media -->
                                        <div class="entry-info">
                                            <a href="{% url 'shop:blog' %}">Сардельки</a>
                                            <div class="entry-meta">
                                                23 марта 2016 г.
                                            </div><!-- End .entry-meta -->
                                        </div><!-- End .entry-info -->
                                    </li>
                                </ul>
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h4 class="widget-title">Облако тэгов</h4>

                                <div class="tagcloud">
                                    <a href="#">еда</a>
                                    <a href="#">водка</a>
                                    <a href="#">колбаса</a>
                                    <a href="#">майонез</a>
                                    <a href="#">горчица</a>
                                </div><!-- End .tagcloud -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h4 class="widget-title">Архив</h4>

                                <ul class="list">
                                    <li><a href="#">Апрель 2018</a></li>
                                    <li><a href="#">Март 2018</a></li>
                                    <li><a href="#">Февраль 2018</a></li>
                                </ul>
                            </div><!-- End .widget -->

                        </div><!-- End .sidebar-wrapper -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </main><!-- End .main -->
{% endblock content %}
