{% extends "index.html" %}
{% load static %}

{% block title %}Goodfood - Корзина{% endblock title %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-table-container">
                            <table class="table table-cart">
                                <thead>
                                    <tr>
                                        <th class="product-col">Товар</th>
                                        <th class="price-col">Цена</th>
                                        <th class="qty-col">Количество</th>
                                        <th>Сумма</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="product-row">
                                        <td class="product-col">
                                            <figure class="product-image-container">
                                                <a href="{% url 'shop:product' %}" class="product-image">
                                                    <img src="{% static 'images/products/морковка.jpg' %}" alt="product">
                                                </a>
                                            </figure>
                                            <h2 class="product-title">
                                                <a href="{% url 'shop:product' %}">Морковка</a>
                                            </h2>
                                        </td>
                                        <td>17.90</td>
                                        <td>
                                            <input class="vertical-quantity form-control" type="text">
                                        </td>
                                        <td>17.90</td>
                                    </tr>
                                    <tr class="product-action-row">
                                        <td colspan="4" class="clearfix">
                                            <div class="float-left">
                                                <a href="#" class="btn-move">Добавить в избраное</a>
                                            </div><!-- End .float-left -->
                                            
                                            <div class="float-right">
                                                <a href="#" title="Edit product" class="btn-edit"><span class="sr-only">Edit</span><i class="icon-pencil"></i></a>
                                                <a href="#" title="Remove product" class="btn-remove"><span class="sr-only">Remove</span></a>
                                            </div><!-- End .float-right -->
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="clearfix">
                                            <div class="float-left">
                                                <a href="{% url 'shop:catalog' %}" class="btn btn-outline-secondary">Продолжить покупки</a>
                                            </div><!-- End .float-left -->

                                            <div class="float-right">
                                                <a href="#" class="btn btn-outline-secondary btn-clear-cart">Очистить корзину</a>
                                                <a href="#" class="btn btn-outline-secondary btn-update-cart">Обновить корзину</a>
                                            </div><!-- End .float-right -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- End .cart-table-container -->
                    </div><!-- End .col-lg-8 -->

                    <div class="col-lg-4">
                        <div class="cart-summary">
                            <h3>Итого</h3>

                            <h4>
                                <a data-toggle="collapse" href="#" class="collapsed" role="button" aria-expanded="false" aria-controls="total-estimate-section">Доставка</a>
                            </h4>

                            <div class="collapse" id="total-estimate-section">
                                <form action="#">
                                    
                                    <div class="form-group form-group-sm">
                                        <label>Адрес</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div><!-- End .form-group -->

                                    <div class="form-group form-group-sm">
                                        <label>Телефон</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div><!-- End .form-group -->

                                </form>
                            </div><!-- End #total-estimate-section -->

                            <table class="table table-totals">
                                <tbody>
                                    <tr>
                                        <td>Сумма</td>
                                        <td>17.90</td>
                                    </tr>

                                    <tr>
                                        <td>Доставка</td>
                                        <td>0.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Итого</td>
                                        <td>17.90</td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="checkout-methods">
                                <a href="#" class="btn btn-block btn-sm btn-primary">Оплатить</a>
                            </div><!-- End .checkout-methods -->
                        </div><!-- End .cart-summary -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </main><!-- End .main -->
{% endblock content %}