{% extends "index.html" %}
{% load static %}

{% block title %}Goodfood - Каталог{% endblock title %}

{% block content %}
        <main class="main">
            
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shop:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">КАТАЛОГ</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="toolbox mb-4">
                            <div class="toolbox-left">
                                <div class="toolbox-item toolbox-sort">
                                    <div class="select-custom">
                                        <select name="orderby" class="form-control">
                                            <option value="menu_order" selected="selected">по умолчанию</option>
                                            <option value="popularity">по популярности</option>
                                            <option value="rating">по рейтингу</option>
                                            <option value="date">новые</option>
                                            <option value="price">дешевые</option>
                                            <option value="price-desc">дорогие</option>
                                        </select>
                                    </div><!-- End .select-custom -->

                                    <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending Direction</span></a>
                                </div><!-- End .toolbox-item -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-item toolbox-show">
                                <label>Показывать 1–9 из 60</label>
                            </div><!-- End .toolbox-item -->

                            <div class="layout-modes">
                                <a href="{% url 'shop:catalog' %}" class="layout-btn btn-grid active" title="Grid">
                                    <i class="icon-mode-grid"></i>
                                </a>
                                <a href="{% url 'shop:catalog' %}" class="layout-btn btn-list" title="List">
                                    <i class="icon-mode-list"></i>
                                </a>
                            </div><!-- End .layout-modes -->
                        </nav>

                        <div class="row row-sm">
                            {% for element in products %}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product-default inner-quickview inner-icon">
                                    <figure>
                                        <a href="{% url 'shop:product' element.id %}">
                                            <img src="{{ element.image_set.first.image.url }}">
                                        </a>

                                        <div class="btn-icon-group">
                                            <a href="{% url 'shop:cart' element.id %}"><button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button></a>
                                        </div>

                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <div class="category-list">
                                                <a href="{% url 'shop:catalog' element.category.id %}" class="product-category">{{ element.category }}</a>
                                            </div>
                                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="{% url 'shop:product' element.id %}">{{ element.name }}</a>
                                        </h2>
                                        <div class="price-box">
                                            <span class="product-price">{{ element.price }}</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <nav class="toolbox toolbox-pagination">
                            <div class="toolbox-item toolbox-show">
                                <label>Показывать 1–9 из 60 </label>
                            </div><!-- End .toolbox-item -->

                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><span>...</span></li>
                                <li class="page-item"><a class="page-link" href="#">15</a></li>
                                <li class="page-item">
                                    <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- End .col-lg-9 -->

                    <aside class="sidebar-shop col-lg-3 order-lg-first">
                        <div class="sidebar-wrapper">
                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="{% url 'shop:catalog' %}" role="button" aria-expanded="true" aria-controls="widget-body-2">Категория</a>
                                </h3>

                                <div class="collapse show" id="widget-body-2">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li><a href="{% url 'shop:catalog' 1 %}">ОВОЩИ-ФРУКТЫ</a></li>
                                            <li><a href="{% url 'shop:catalog' 2 %}">МЯСО-РЫБА</a></li>
                                            <li><a href="{% url 'shop:catalog' 3 %}">КОНДИТЕРСКИЕ ТОВАРЫ</a></li>
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                        </div><!-- End .sidebar-wrapper -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </main><!-- End .main -->
{% endblock content %}
