{% extends "index.html" %}
{% load static %}

{% block title %}Goodfood - Логин{% endblock title %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Логин</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2 class="title">Вход</h2>
                            <p>Если у Вас есть учетная запись, войдите.</p>
                        </div><!-- End .heading -->

                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Войти</button>
                                <!--<a href="#" class="forget-pass"> Забыли пароль?</a>!-->
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <div class="heading">
                            <h2 class="title">Регистрация</h2>
                            <p>Если у Вас нет учетной записи, <a href="{% url 'shop:registration' %}">зарегистрируйтесь</a></p>
                        </div><!-- End .heading -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </main><!-- End .main -->
{% endblock content %}