{% extends "index.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Goodfood - Заказ{% endblock title %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Заказ</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <h1>Thank you</h1>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="cart-summary">
                            <h3>Номер Вашего заказа <strong>{{ order.id }}</strong></h3>
                            {% if order.shipped %}
                            <h4>Статус: <strong>отправлен</strong></h4>
                            {% else %}
                            <h4>Статус: <strong>в обработке</strong></h4>
                            {% endif %}
                            <table class="table table-totals">
                                <tbody>
                                    {% for item in order.items.all %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Итого</td>
                                        <td>{{ order.get_total_cost }}</td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div><!-- End .cart-summary -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </main><!-- End .main -->
{% endblock content %}