{% extends "index.html" %}
{% load static %}

{% block title %}Goodfood - Продукт{% endblock title %}

{% block content %}

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shop:index' %}"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">ТОВАР</li>
                    </ol>
                </div><!-- End .container -->
            </nav>
            <div class="container">
                <div class="row row-sm">
                    <div class="col-lg-12">
                        <div class="product-single-container product-single-default">
                            <div class="row row-sm">
                                <div class="col-lg-7 col-md-6 product-single-gallery">
                                    <div class="product-slider-container product-item">
                                        <div class="product-single-carousel owl-carousel owl-theme">
                                            {% for element in product.image_set.all %}
                                            <div class="product-item">
                                                <img class="product-single-image" src="{{ element.image.url }}" data-zoom-image="{{ element.image.url }}"/>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- End .product-single-carousel -->
                                        <span class="prod-full-screen">
                                            <i class="icon-plus"></i>
                                        </span>
                                    </div>
                                    <div class="prod-thumbnail row owl-dots" id='carousel-custom-dots'>
                                        {% for element in product.image_set.all %}
                                        <div class="col-3 owl-dot">
                                            <img src="{{ element.image.url }}"/>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div><!-- End .col-lg-7 -->

                                <div class="col-md-6 col-lg-5-more">
                                    <div class="product-single-details">
                                        <h1 class="product-title">{{ product.name }}</h1>

                                        <div class="price-box">
                                            <span class="product-price">{{ product.price }}</span>
                                        </div><!-- End .price-box -->

                                        <div class="product-desc">
                                            <p>{{ product.description }}</p>
                                        </div><!-- End .product-desc -->

                                        <div class="product-action">
                                            <a class="btn btn-dark" href="{% url 'shop:index' %}">в корзину</a>
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product-single-details -->
                                </div><!-- End .col-lg-5 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-single-container -->
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="featured-section">
                <div class="container">
                    <div class="product-panel">
                        <h2 class="section-title">ПОХОЖИЕ ТОВАРЫ</h2>

                        <div class="row row-sm product-ajax-grid">
                            {% for element in similar_products %}
                            <div class="col-6 col-md-4">
                                <div class="product-default inner-quickview inner-icon">
                                    <figure>
                                        <a href="{% url 'shop:product' element.id %}">
                                            <img src="{{ element.image_set.first.image.url }}">
                                        </a>
                                        <div class="btn-icon-group">
                                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button>
                                        </div>
                                        <a href="{% url 'shop:product' element.id %}" class="btn-quickview" title="Quick View">Подробнее</a>
                                    </figure>
                                    <div class="product-details">
                                        <div class="category-wrap">
                                            <div class="category-list">
                                                <a href="{% url 'shop:catalog' %}" class="product-category">Каталог</a>
                                            </div>
                                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                                        </div>
                                        <h2 class="product-title">
                                            <a href="{% url 'shop:product' element.id %}">{{ element.name }}</a>
                                        </h2>
                                        <div class="price-box">
                                            <span class="product-price">{{ element.price }}</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <button class="btn-view-more">ЕЩЁ</button>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .featured-section -->
        </main><!-- End .main -->
{% endblock content %}
